= form_for @annexed, :html => { :class => "form-horizontal annexed" } do |f|
  - if @annexed.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        %h3.panel-title
          = pluralize(@annexed.errors.count, "error")
          prohibited this annexed from being saved:
      .panel-body
        %ul
          - @annexed.errors.full_messages.each do |msg|
            %li= msg
  .form-group
    = f.label :name, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :name, :class => 'form-control'
  .form-group
    = f.label :address, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :address, :class => 'form-control'
  .form-group
    = f.label :leader, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :leader, :class => 'form-control'
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        annexeds_path, :class => 'btn btn-default'                   |
