<%- model_class = Annexed -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:leader) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @annexeds.each do |annexed| %>
      <tr>
        <td><%= link_to annexed.id, annexed_path(annexed) %></td>
        <td><%= annexed.name %></td>
        <td><%= annexed.address %></td>
        <td><%= annexed.leader %></td>
        <td>
          <% if current_user.is_admin? %>

            <%= link_to t('.show', :default => t("helpers.links.show")),
                        annexed_path(annexed), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_annexed_path(annexed), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        annexed_path(annexed),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if current_user.is_admin? %>

  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_annexed_path,
              :class => 'btn btn-primary' %>
<% end %>
