= form_for @brand, :html => { :class => "form-horizontal brand" } do |f|
  - if @brand.errors.any?
    #error_expl.panel.panel-danger
      .panel-heading
        %h3.panel-title
          = pluralize(@brand.errors.count, "error")
          prohibited this brand from being saved:
      .panel-body
        %ul
          - @brand.errors.full_messages.each do |msg|
            %li= msg
  .form-group
    = f.label :name, :class => 'control-label col-lg-2'
    .col-lg-10
      = f.text_field :name, :class => 'form-control'
  .form-group
    .col-lg-offset-2.col-lg-10
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        brands_path, :class => 'btn btn-default'                     |
