- car ||= @car
%tr
  %td= link_to car.id, car_path(car)
  %td= car.plate.upcase
  %td
    - if current_user.is_admin?
      = link_to t('.show', :default => t("helpers.links.show")),
        car_path(car), :class => 'btn btn-default btn-xs'
      = link_to t('.edit', :default => t("helpers.links.edit")),
        edit_car_path(car), :class => 'btn btn-default btn-xs'
      = link_to t('.destroy', :default => t("helpers.links.destroy")),
        car_path(car),
        :method => :delete,
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
        :class => 'btn btn-xs btn-danger'