- car ||= @car
%tr
  %td= car.id
  %td= car.plate.upcase
  %td
    - if can? :read, car  
      = link_to car_path(car), :class => 'waves-effect waves-light btn' do
        %i.material-icons.left remove_red_eye
        %span.hide-on-med-and-down= t('.show', :default => t("helpers.links.show"))
    - if can? :edit, car
      = link_to edit_car_path(car), :class => 'waves-effect waves-light btn', remote: true do
        %i.material-icons.left edit
        %span.hide-on-med-and-down= t('.edit', :default => t("helpers.links.edit"))
    - if can? :destroy, car    
      = link_to car_path(car), :method => :delete, :class => 'waves-effect waves-light btn' do
        %i.material-icons.left delete
        %span.hide-on-med-and-down= t('.destroy', :default => t("helpers.links.destroy"))