- _owner_options = owner_options
- _brand_options = brand_options
= form_for @car, :html => { :class => "form-horizontal car" }, remote: true do |f|
  .modal-content
    .row
      %h4= header_modal_form
      - if @car.errors.any?
        #error_expl.panel.panel-danger
          .panel-heading
            %h3.panel-title
              = pluralize(@car.errors.count, "error")
              prohibited this car from being saved:
          .panel-body
            %ul
              - @car.errors.full_messages.each do |msg|
                %li= msg
      .input-field.col.s12.m12.l6.xl6
        = f.text_field :plate, :class => 'validate'
        = f.label :plate
      .input-field.col.s12.m12.l6.xl6
        = f.text_field :color, :class => 'validate'
        = f.label :color
      .input-field.col.s12.m12.l6.xl6
        = f.select :owner_id, options_for_select(_owner_options)
        = f.label :owner_id, class: 'activate'
        - if _owner_options.blank?
          = link_to t("helpers.links.create", model: Owner.model_name.human), new_owner_path
      .input-field.col.s12.m12.l6.xl6
        = f.select :brand_id, options_for_select(_brand_options)
        = f.label :brand_id, :class => 'activate'
        - if _brand_options.blank?
          = link_to t("helpers.links.create", model: Brand.model_name.human), new_brand_path
      .input-field.col.s12
        = f.text_field :model, :class => 'validate'
        = f.label :model
  .modal-footer
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat= t('.cancel', :default => t("helpers.links.cancel"))
    = f.submit nil, :class => 'modal-action waves-effect waves-green btn-flat'