
<%- model_class = Car -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>


<table id="carsTable" class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:brand_id) %></th>
      <th><%= model_class.human_attribute_name(:model) %></th>
      <th><%= model_class.human_attribute_name(:owner_id) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:plate) %></th>
      <th><%= model_class.human_attribute_name(:color) %></th>
      <th><%= model_class.human_attribute_name(:annexed) %></th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= link_to car.id, car_path(car) %></td>
        <td><%= Brand.find_by_id(car.brand_id).name %></td>
        <td><%= car.model %></td>
        <td><%= Owner.find_by_id(car.owner_id).name + ' ' + Owner.find_by_id(car.owner_id).lastname  %></td>
        <td><%= Owner.find_by_id(car.owner_id).phone %></td>
        <td><%= car.plate %></td>
        <td><%= car.color %></td>
        <td><%= Annexed.find_by_id(car.owner.annexed_id).name %></td>

        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      car_path(car), :class => 'btn btn-default btn-xs' %>
          <% if current_user.is_admin? %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_car_path(car), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        car_path(car),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.is_admin? %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_car_path,
              :class => 'btn btn-primary' %>
<% end %>

<br><br><br><br><br><br>
