- model_class = Car
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize.titleize

.row
  .col.s12
    .row
      .input-field.col.s12
        %i.material-icons.prefix textsms
        %input#autocomplete-input.autocomplete{:type => "text"}
        %label{:for => "autocomplete-input"} Autocomplete

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:plate)
      %th= t '.actions', :default => t("general.actions")
  %tbody#cars-table
    - @cars.each do |car|
      = render 'car_row', car: car
  = will_paginate @cars

.modal.modal-fixed-footer#form-car