<%- model_class = Car -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:Car) %>:</strong></dt>
  <dd><%= Brand.find_by_id(@car.brand_id).name + ' ' + @car.model  %></dd>
  <dt><strong><%= model_class.human_attribute_name(:plate) %>:</strong></dt>
  <dd><%= @car.plate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:color) %>:</strong></dt>
  <dd><%= @car.color %></dd>
  <dt><strong><%= model_class.human_attribute_name(:owner_id) %>:</strong></dt>
  <dd><%= Owner.find_by_id(@car.owner_id).name + ' ' + Owner.find_by_id(@car.owner_id).lastname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= Owner.find_by_id(@car.owner_id).phone%></dd>
  <h3></h3>

</dl>


<%= link_to "Solicitar mover vehiculo", "https://wa.me/" + Owner.find_by_id(@car.owner_id).phone[1..-1] +
            "/?text=Necesitamos%20que%20mueva%20su%20vehiculo%20" + Brand.find_by_id(@car.brand_id).name + ' ' + @car.model + "%20Patente:%20" + @car.plate +
            "%20con%20urgencia.%20Gracias",
            target: "_blank", class:'btn btn-primary'%>
<%= link_to 'Llamar', Owner.find_by_id(@car.owner_id).phone, class:'btn btn-success' %><br><br>

<%= link_to t('.back', :default => t("helpers.links.back")),
              cars_path, :class => 'btn btn-default'  %>

<% if current_user.is_admin? %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_car_path(@car), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                car_path(@car),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
<% end %>
