!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    / Meta, title, CSS, favicons, etc.
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Parking | IEP ÑUÑOA
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
    / Custom Theme Style
    :javascript
      var env = "#{Rails.env}";
  %body{:style => "padding: 0"}
    #parking_frontapp
    = yield
    = javascript_include_tag "application"
    %script{:crossorigin => "anonymous", :integrity => "sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"}
    %script{:src => "https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"}
