<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Parking | IEP ÑUÑOA </title>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= csrf_meta_tags %>
    <!-- Custom Theme Style -->
    <script type="text/javascript">
      var env = "<%= Rails.env %>";
    </script>
  </head>

  <body style="padding: 0">
    <div id="parking_frontapp">
    </div>

    <%= yield %>
    <%= javascript_include_tag "application" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  </body>
</html>
