%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = favicon_link_tag 'https://png.icons8.com/color/50/000000/the-flash-sign.png'
    %title Parking | IEP ÑUÑOA
    = Gon::Base.render_data
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body
    #modal_new_car.modal
    %ul#slide-out.sidenav.sidenav-fixed
      %li
        .user-view
          .background.teal.lighten-1
          %a{:href => "#!user"}
            %img.circle{:src => "/images/user.jpg"}/
          %a{:href => "#!name"}
            %span.white-text.name
              = current_user.name
            %span.white-text.email
              = current_user.email
      - models_to_sidenav.each do |model|
        %li= link_to model.model_name.human, model
      %li
        = link_to 'Sign out', destroy_user_session_path, method: :delete
    %header
      %nav
        .nav-wrapper
          %a.sidenav-trigger{:"data-target"=>"slide-out"}
            %i.material-icons menu
          = link_to model_class.model_name.human(count: 2), model_class, class: 'brand-logo'
          %ul.nav-mobile.right.hide-on-med-and-down
    %main.container= yield
    - if can? :create, model_class
      = link_to [:new, model_class.to_s.underscore.to_sym], class: "btn-floating btn-large btn-android waves-effect waves-light", remote: true do
        = material_icon.add
    = javascript_include_tag "application"
    %script{:crossorigin => "anonymous", :integrity => "sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"}
    %script{:src => "https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"}
